
.home .container {
    max-width: 1200px;
    margin: auto;
}

.home .title {
    font-size: 2rem;
    margin: 0;
}

header {
    padding: 1.4rem;
    background-color: #F9E784;
}

header .container {
    display: flex;
    align-items: center;
}


nav {
    margin: 0 1rem;
    flex-grow: 1;
    display: flex;
    /* background: red; */
}

nav a {
    /* display: inline-block; */
    margin: 0 1rem;
    color: #111111;
}

.sign-in-cta {
    margin-left: auto;
    margin-right: 0;
}


#about,
.two-col .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vmin;
    height: 100vmin;
}

section .left-side {
    width: 40%;
}

section .right-side {
    width: 50%;
}

#home {
    background-color: #F1E8B8;
}

#home img {
    display: block;
    width: 100%;
}


#about .left-side {
    height: 100%;
    background: url(../../assets/geometrica.png);
}


#features {
    text-align: center;
}

#features .feature {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
    text-align: justify;
    text-align-last: center;
    /* background: #F1E8B8; */
}

#features .feature-header {
    height: 140px;
}

#features .feature-body {
    flex: 1 1 auto;
}

#features .feature-list {
    max-width: 900px;
    margin: 4rem auto;
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#features .feature:nth-child(2)::before,
#features .feature:nth-child(2)::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 60%;
    background: black;
}

#features .feature:nth-child(2)::before {
    left: 0;
}

#features .feature:nth-child(2)::after {
    right: 0;
}

#features img {
    display: block;
    height: 100%;
    margin: auto;
}

footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #d05353;
    padding: 2rem 0;
}
/* 
footer div {
    background: red;
} */

footer a {
    display: block;
    margin: 1rem 0;
}