
.home .container {
    max-width: 1200px;
    margin: auto;
    /* padding: 0 2rem; */
}

.home .title {
    margin: 0;
}

section .title {
    color: #d05353;
}

section .container {
    padding: 0 2rem;
}

header {
    width: 100%;
    padding: 1.4rem;
    background-color: #F9E784;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

header .container {
    display: flex;
    align-items: center;
}


nav {
    margin: 0 1rem;
    flex-grow: 1;
    display: flex;
    /* background: red; */
}

nav a {
    /* display: inline-block; */
    margin: 0 1rem;
    color: #111111;
}

.signInCTA {
    margin-left: auto;
    margin-right: 0;
}


#about,
.twoCol .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vmin;
    height: 100vmin;
}

section .leftSide {
    width: 40%;
}

section .rightSide {
    width: 50%;
}

#home {
    background-color: #F1E8B8;
}

#home img {
    display: block;
    width: 100%;
}


#about .leftSide {
    height: 100%;
    background: url(../../assets/geometrica.png);
}

#about .rightSide {
    padding-right: 2rem;
}

#features {
    text-align: center;
    padding: 2rem;
}

#features .textContent {
    max-width: 600px;
    margin: auto;
}

#features .feature {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
    text-align: center;
    /* text-align-last: center; */
    /* background: #F1E8B8; */
}

#features .featureHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}

#features .featureBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;
}

#features .title {
    /* text-align: center; */
    margin: 1rem 0 0 0;
}

#features .featureList {
    max-width: 900px;
    margin: 4rem auto;
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#features .feature:nth-child(2)::before,
#features .feature:nth-child(2)::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 60%;
    background: black;
}

#features .feature:nth-child(2)::before {
    left: 0;
}

#features .feature:nth-child(2)::after {
    right: 0;
}

#features img {
    display: block;
    height: 70%;
}

.footer {
    background-color: #d05353;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    padding: 2rem;
}

.footer a {
    display: block;
    margin: 1rem 0;
    color: #ffffff;
}

.footer .copyright {
    color: #ffffff;
}

.footer .socialBtnGroup {
    display: flex;
}

.footer .socialLink {
    border: solid 2px #ffffff;
    border-radius: 32px;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .6rem;
}
