.sign-in {
    display: flex;
}

.sign-in > * {
    min-height: 100vh;
}

.sign-in .left-side {
    width: 40%;
    background-color: #111111;
}

.sign-in .right-side {
    width: 60%;
    padding: 4rem;
}

.sign-in .btn-submit {
    color: white;
    background-color: #111111;
    font-weight: 700;
    padding: 1rem 3rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}