.signIn {
    display: flex;
}

.signIn > * {
    min-height: 100vh;
}

.signIn .leftSide {
    width: 40%;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
}

.signIn .rightSide {
    width: 60%;
    padding: 4rem;
}

.signIn .btnSubmit {
    color: white;
    background-color: #111111;
    font-weight: 700;
    padding: 1rem 3rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.6s ease;
}

.signIn .btnSubmit:hover {
    transform: scale(1.04);
}

.signIn .leftSide img {
    width: 70%;
}

@media all and (max-width: 625px) {
    .signIn .title,
    .signIn .subtitle {
        text-align: center;
    }

    .signIn .leftSide {
        display: none;
    }

    .signIn .rightSide {
        width: 100%;
        background-color: #111111;
        color: #ffffff;
    }

    .signIn .btnSubmit {
        background-color: #ffffff;
        color: #111111;
        width: 100%;
    }
}