.sign-in {
    display: flex;
}

.sign-in > * {
    min-height: 100vh;
}

.sign-in .left-side {
    width: 40%;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
}

.sign-in .right-side {
    width: 60%;
    padding: 4rem;
}

.sign-in .btn-submit {
    color: white;
    background-color: #111111;
    font-weight: 700;
    padding: 1rem 3rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.6s ease;
}

.sign-in .btn-submit:hover {
    transform: scale(1.04);
}

.sign-in .left-side img {
    width: 70%;
}

@media all and (max-width: 625px) {
    .sign-in .title,
    .sign-in .subtitle {
        text-align: center;
    }

    .sign-in .left-side {
        display: none;
    }

    .sign-in .right-side {
        width: 100%;
        background-color: #111111;
        color: #ffffff;
    }

    .sign-in .btn-submit {
        background-color: #ffffff;
        color: #111111;
        width: 100%;
    }
}