.navbar {
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    backdrop-filter: blur(50px);
}

.innerNavbar {
    display: flex;
    align-items: center;
}

.navLink {
    margin: 10px;
    text-decoration: none;
    color: white;
}

.navLink:hover {
    color: gold;
}

.navLink.active {
    color: gold;
}
