@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: Montserrat;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.form-control {
    margin: 1rem 0;
}

.form-label {
    display: block;
    margin-bottom: .4rem;
}

.form-input {
    display: block;
    width: 100%;
    padding: .8rem;
}

.f-sm {
    font-size: 1rem;
    color: white;
}

.f-md {
    font-size: 2.4rem;
}

.f-lg {
    font-size: 3rem;
}

.text-content {
    max-width: 600px;
}

.bnm-logo {
    filter: invert(100%);
    width: 30px;
    height: 30px;
}

.bnm-wordmark {
    font-weight: 600;
    padding-left: 5px;
    color: white;
}

.client, .inner-client, .newclient, .transact, .transactionhistory, .signin, .transfer {
    margin-top: 50px;
    width: 50vw;
    text-align: justify;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.component-wrapper {
    margin-top: 2rem;
    height: 100vh;
}

/* CLIENT DATABASE STARTS HERE */
td {
    padding: 10px;
    border-bottom:1pt solid white;
}

.inner-client {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.1);  
    backdrop-filter: blur(5px);
    border-radius: 25px;
}

/* CLIENT DATABASE ENDS HERE */

/* NEW CLIENT STARTS HERE */

.inner-newclient {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.1);  
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
}

.btn-submit {
    background-color: black;
    border: black;
    border-radius: 25px;
    color: white;
    padding: 15px;
}

.btn-submit:hover {
    background-color: gold;
    color: black;
}

/* NEW CLIENT ENDS HERE */



/* TRANSACT STARTS HERE */
.inner-transact {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.1);  
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
}



/* TRANSACT ENDS HERE */

/* TRANSACTION HISTORY STARTS HERE */

.history {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.1);  
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 60vw;
}

/* TRANSACTION HISTORY ENDS HERE */


/* 404 NOT FOUND STARTS HERE */

.not-found {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.bnm-404 {
    width: 100px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 8s linear infinite;
    -moz-animation: rotating 8s linear infinite;
    -ms-animation: rotating 8s linear infinite;
    -o-animation: rotating 8s linear infinite;
    animation: rotating 8s linear infinite;
  }

/* 404 NOT FOUND ENDS HERE */

/* TRANSFER STARTS HERE */

.inner-transfer {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.1);  
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
}

/* TRANSFER ENDS HERE */

/* CARD SELECTION STARTS HERE */

.card-wrapper {
    height: 50vh;
    overflow: hidden;
}

.innercard-wrapper {
    display: flex;
    margin: 10px;
}

.innerblackcard-wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: rgba(0, 0, 0, 0.185);
    height: 100vh;
}

.black-card {
    height: 30vh;
}

.blackcard-wrapper {
    display: flex;
}

.blackcard-title {
    color: black;
    font-size: 40px;
    padding-bottom: 50px;
    font-weight: 600;
}

.black-platinum {
    color: rgb(255, 255, 255);
}

.btn-black {
    border: hidden;
    background-color: transparent;
    color: black;
    padding-bottom: 50px;
    font-size: 14px;
}

.cx-secure {
    color: blue;
}

.btn-black:hover, .btn-blue:hover, .btn-green:hover {
    text-decoration: underline;
    color: blue;
}

img {
    margin: 5px;
}

.blue {
    background-color: rgba(0,0,255,.1);
    width: 50vw;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blue-card, .green-card {
    width: 20vw;
}

.blue-titlecard {
    color: blue;
}

.blue-subject {
    padding-bottom: 20px;
}

.btn-blue, .btn-green {
    padding-top: 25px;
    border: hidden;
    background-color: transparent;
    color: black;
    font-size: 14px;
}

.green {
    background-color: rgba(0,255,0,.1);
    width: 50vw;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.green-card {
    width: 20vw;
}

.green-wraper {
    width: 50vw;
    padding-left: 25px;
}

.green-wraper1 {
    width: 50vw;
    padding-left: 80px;
}

.green-titlecard {
    color: green;
}

.red {
    width: 50vw;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.red-card {
    width: 70%;
}

.white {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.underlined {
    text-decoration: underline;
}

.yellow {
    /* background-color: rgba(255,255,0,.1); */
    width: 50vw;
    margin-right: 5px;
}


.navcredit {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
}

/* CARD SELECTION ENDS HERE */