* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.form-control {
    margin: 1rem 0;
}

.form-label {
    display: block;
    margin-bottom: .4rem;
}

.form-input {
    display: block;
    width: 100%;
    padding: .8rem;
}
